{erl_opts, [debug_info]}.
{src_dirs, [{"src", [{recursive, true}]}]}.
{shell, [{config, "./config/dev_sys.config.src"}]}.

{deps, [
    {nova, {git, "https://github.com/novaframework/nova.git", {branch, "master"}}},
    {datastar, {git, "https://github.com/Taure/datastar.git", {branch, "main"}}},
    {datastar_nova, {git, "https://github.com/Taure/datastar_nova.git", {branch, "main"}}},
    {gakudan, {git, "https://github.com/Taure/gakudan.git", {branch, "main"}}}
]}.

{relx, [
    {release, {gakudan_liveboard, git}, [
        gakudan_liveboard,
        sasl
    ]},
    {mode, dev},
    {sys_config_src, "./config/dev_sys.config.src"},
    {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {sys_config_src, "./config/prod_sys.config.src"}
        ]}
    ]},
    {test, [
        {erl_opts, [nowarn_export_all, warnings_as_errors]},
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {xref_extra_paths, ["test"]}
    ]}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{overrides, [
    {override, redbug, [{erl_opts, [debug_info, nowarn_deprecated_catch]}]}
]}.

{project_plugins, [
    {rebar3_nova, {git, "https://github.com/novaframework/rebar3_nova.git", {branch, "master"}}},
    {erlfmt, "~>1.7"}
]}.

{erlfmt, [
    write,
    {files, [
        "rebar.config",
        "src/*.app.src",
        "src/**/{*.erl, *.hrl}",
        "test/**/{*.erl, *.hrl}"
    ]},
    {exclude_files, ["config/vm.args.src", "config/prod_sys.config.src"]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
